<div class="box rounded-circle"></div>
    <div class="parallax">
        <h2>Proyecto final</h2>
    </div>
    <p class="about">
        Lorem ipsum, dolor sit amet consectetur 
        adipisicing elit. Distinctio quis repudiandae dignissimos soluta sed eius magni.
    </p>
    <p class="about">
        Lorem ipsum, dolor sit amet consectetur 
        adipisicing elit. Distinctio quis repudiandae dignissimos soluta sed eius magni.
    </p>
    <div class="parallax">
        <h2>Proyecto final</h2>
    </div>
    <p class="about">
        Lorem ipsum, dolor sit amet consectetur 
        adipisicing elit. Distinctio quis repudiandae dignissimos soluta sed eius magni.
    </p>
    <p class="about">
        Lorem ipsum, dolor sit amet consectetur 
        adipisicing elit. Distinctio quis repudiandae dignissimos soluta sed eius magni.
    </p>