{{!-- {{#if user}}
{{else}}
{{/if}} --}}


<!-- Masthead-->
<!--<div class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="display-4 titleRos1">Rosario<span>Activa</span></h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Siempre hay algo para hacer en la ciudad de Rosario</p>
                <a class="btn btn-primary btn-xl" href="#portfolio">Explorar</a>
            </div>
        </div>
    </div>
</div>-->

<!-- Portfolio-->
<div class="aver" id="portfolio">
    <div id="indexTitle" class="shadow d-flex justify-content-center align-items-center p-3 mb-1 bg-dark rounded-lg flex-column">
        <h1 class="titleRos1">Rosario<span>Activa</span></h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-12 col-12 p-0 no-gutters indexLinkMuni">
            <a class="portfolio-box" href="/activities-rosario/all" title="Actividades Municipales">
                <div class="portfolio-box-caption">
                    <div class="project-category text-white-70">Actividades Municipales</div>
                    <div class="project-name">Explorar</div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-12 col-12 p-0 no-gutters indexLinkMerc">
            <a class="portfolio-box" href="/mercados-y-ferias" title="Mercados y ferias">
                <div class="portfolio-box-caption">
                    <div class="project-category text-white-70">Mercados y ferias</div>
                    <div class="project-name">Explorar</div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-12 col-12 p-0 no-gutters indexLinkUser">
            <a class="portfolio-box" href="/activities-users/all" title="Actividades de usuarios">
                <div class="portfolio-box-caption">
                    <div class="project-category text-white-70">Actividades de usuarios</div>
                    <div class="project-name">Explorar</div>
                </div>
            </a>
        </div>
    </div>
</div>

{{!-- Estilo solo aplicado para la pagina principal --}}
<style>
    #main-container {
        padding-top: 0px;
    }

    /*
    @media(min-height: 600px) and (min-width: 600px) {
        #footer {
            margin-top: 9rem;
        }
    }

    @media(min-height: 700px) and (min-width: 600px) {
        #footer {
            margin-top: 11rem;
        }
    }

    @media(min-height: 865px) {
        #footer {
            margin-top: 12rem;
        }
    }
*/
    /* Esto es solo para hacer el cambio de color de navbar*/
    .headerNavbar {
        background-color: rgba(255, 255, 255, 0);
        color: rgba(255, 255, 255, 0.7);
        box-shadow: none;
    }
</style>