<div class="container-fluid pb-0 mb-0 justify-content-center text-light" id="footer">
     <footer>
         <div class="row my-5 justify-content-center">
             <div class="col-11">
                 <div class="row ">
                     <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto a">
                         <h3 class="text-muted mb-md-0 mb-3 bold-text titleRos2">Rosario<span>Activa</span></h3>
                     </div>
                     {{!-- <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                         <p class="mb-1">Zeballos 1341</p>
                         <p>UTN FRRO</p>
                     </div> --}}
                 </div>
                 <div class="row ">
                     <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-4 order-sm-1 order-3 align-self-end">
                         <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> 
                         </p><small class="rights"><span>&#174;</span> ROSARIOACTIVA All Rights Reserved.</small>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                         <h6 class="mt-55 mt-2 text-muted bold-text"><b>SANTA MARIA CECCOLI JEREMIAS</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> jeresmc7@gmail.com</small>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                         <h6 class="text-muted bold-text"><b>CIRIACI SANTIAGO</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> santiagociriaci@gmail.com</small>
                     </div>
                 </div>
             </div>
         </div>
     </footer>
 </div>