<div class="jumbotron">
    <h2 class="display-4">Ingresa tu nueva contraseña</h2>
    <p class="lead"></p>
    <hr class="my-4">
    <p class="lead">

    <form action="/signin/recover-password/{{user._id}}" method="POST">
        <input class="form-control w-50" type="name" id="recoverPassword" name="recoverPassword" placeholder="Introduce tu nueva contraseña">
        <div class="form-group">
            <button class="btn btn-primary p-2 px-4 mx-1 mt-3">
                Confirmar
            </button>
        </div>
    </form>

    </p>
</div>