<div class="jumbotron">
    <h2 class="display-4">Ingresa el email de tu cuenta</h2>
    <p class="lead"></p>
    <hr class="my-4">
    <p class="lead">

    <form action="/signin/forgotten-password" method="POST">
        <input class="form-control w-50" type="name" id="verifyEmail" name="verifyEmail" placeholder="Introduce el email a recuperar">
        <div class="form-group">
            <button class="btn btn-primary p-2 px-4 mx-1 mt-3">
                Continuar
            </button>
        </div>
    </form>

    </p>
</div>