<div class="jumbotron">
    <h2 class="display-4">Recuperar contraseña</h2>
    <p class="lead"></p>
    <hr class="my-4">
    <h5>Se enviará un email con un codigo de recuperacion de contraseña a la dirección de correo <span
            id="userEmail">{{user.email}}</span></h5>
    <p>Si introduces un codigo incorrecto, deberas pulsar nuevamente el boton de enviar email</p>
    <p class="lead">
    <form method="POST">
        <input class="btn btn-primary p-2 px-4 mx-1" type="button" value="Enviar email" onclick="sendEmail()">
    </form>

    <form action="/signin/new-password/{{user._id}}" method="POST">
        <hr class="my-4">
        <input class="form-control w-50" type="name" id="recoverCode" name="recoverCode"
            placeholder="Introduce el codigo que recibiste">
        <div class="form-group">
            <button class="btn btn-primary p-2 px-4 mx-1 mt-3">
                Verificar
            </button>
        </div>
    </form>
    </p>
</div>

<span id="recoverID" style="display: none;">{{user.recoverCode}}</span>

<script type="text/javascript">
    function sendEmail() {
        Email.send({
            SecureToken : "899a6469-25e3-459e-b03e-c2a6036edca0",
            //Host: "smtp.gmail.com",
            //Username: "rosarioactivaproyecto@gmail.com",
            //Password: "rosactproy1234",
            To: document.getElementById('userEmail').innerText,
            From: "rosarioactivaproyecto@gmail.com",
            Subject: "Verificacion de cuenta",
            Body: "El codigo de recuperacion de contraseña es: " + "<h1>" + document.getElementById('recoverID').innerText + "</h1>"

        }).then(
            message => alert("Email enviado a su casilla de correo (revisar casilla de Spam)")
        );
    }
</script>